---
layout: base
---
<div class="pb-11 px-4">
    {% include global_nav.html %}
</div>
<div class="pb-11 px-4 mx-auto">
    {% include home_latest_post.html %}
</div>
<div class="pb-11 px-4 mx-auto">
    <h1 class="text-2xl md:text-4xl mb-4 font-bold tracking-tight leading-none text-slate-900">Hello, I'm Ryan.</h1>
    <p class="leading-6	text-md font-normal text-slate-400 max-w-md">I'm an entrepreneur, engineer, and designer focused on building and growing software companies.</p>
</div>
<div class="pb-11 px-4 mx-auto">
    <h2 class="text-xl md:text-2xl mb-4 tracking-tight font-bold text-slate-900">About</h2>
    {% include home_about.html %}
</div>
<div class="pb-11 px-4 mx-auto">
    <h2 class="flex items-center text-xl md:text-2xl mb-5 tracking-tight font-bold text-slate-900">
        <span>Experience</span>
        <span class="ml-2 font-normal px-2 py-1 text-xs text-slate-500 bg-slate-100 rounded-full">Hover for details</span>
    </h2>    
    {% include home_companies_alt.html %}
</div>
<div class="pb-11 px-4 mx-auto">
    <h2 class="text-xl md:text-2xl mb-4 tracking-tight font-bold text-slate-900">Writing</h2>
    <div class="text-lg font-normal text-slate-500">
        {% include home_blog_posts.html %}
    </div>
</div>
{% include global_footer.html %}