---
layout: base
title: Success » rrich.io
body: home
---
<div class="hi"></div>
{% include left-nav.html %}
<div class="grid">
    <div class="content">
        {% include header.html %}
        <div class="row">
            <div class="col-xs-12">
                <h2>Success</h2>
                <p>👍 Message received, you're all set. I'll be in touch as soon as possible.</p>
                <h2>Useful Links</h2>
                <ul>
                    <li><a href="/">→ Home</a></li>
                    <li><a href="/writing">→ Writing</a></li>
                    <li><a href="/info">→ Information</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>