---
layout: base
title: Writing » rrich.io
body: writing
---
<div class="hi"></div>
{% include left-nav.html %}
<div class="grid">
    <div class="content">
        {% include header.html %}
        <div class="row writing-list">
            <div class="col-xs-12">
                <h2>Writing</h2>
                {% for post in site.posts %}
                    <div class="row work-row">
                        <div class="col-xs-12 post-title"><span class="year">{{ post.year }}</span> <a href="{{post.url}}">{{ post.cleantitle }}</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>