---
layout: base
title: Writing.
body: writing
---
<div class="grid">
    <header>
        <div class="row">
            <div class="col-xs-2 start-xs">
                <a href="/"><img src="/assets/images/logo.png" alt="Logo" class="logo"></a>
            </div>
            <div class="col-xs-10 end-xs">
                {% include nav.html %}
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <h2>Writing</h2>
            {% for post in site.posts %}
                <div class="row work-row">
                    <div class="col-xs-12 post-title"><span class="year">{{ post.year }}</span> <a href="{{post.url}}">{{ post.cleantitle }}</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include footer.html %}