---
layout: base
title: Writing.
body: writing
---
<div class="grid">
    <div class="row">
        <header>
            <div class="col-xs-12">
                <a href="/"><img src="/assets/images/logo.png" alt="Logo" class="logo"></a>
            </div>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 mobile-shadow mmb-30">
            <h2>Links</h2>
            {% include nav.html %}
        </div>
        <div class="col-xs-12 col-sm-10 mobile-shadow">
            <h2>Writing</h2>
            {% for post in site.posts %}
                <div class="row work-row">
                    <div class="col-xs-12 post-title"><span class="year">{{ post.year }}</span> <a href="{{post.url}}">{{ post.cleantitle }}</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="grid">
    <footer>
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2020 rrich.io | View this website on <a href="https://github.com/">Github</a>.</p>
            </div>
        </div>
    </footer>
</div>