<footer class="footer">
  <div class="row bottom-xs">
    <div class="col-xs-4 start-xs">
      <p class="small">This site does not collect any data or analytics. You can find the source code <a href="https://github.com/rr1000/rrich.io-01" target="_blank">here → on github.com</a></p>
    </div>
    <div class="col-xs-4 center-xs">
      <p><a href="/">rrich.io</a> &mdash; 2019 &mdash; Portland, OR USA</p>
    </div>
    <div class="col-xs-4 end-xs">
      <p><a href="mailto:rrichrs@gmail.com">rrichrs@gmail.com</a></p>
    </div>
  </div>
</footer>