<footer class="pb-8 px-4 mx-auto">
  <div class="mx-auto max-w-screen-xl flex flex-col md:flex-row justify-between">
      <div class="flex space-x-4 md:space-x-6 mb-6 md:mb-0">
          <a href="/writing" class="text-sm text-gray-500 hover:underline">Writing</a>
          <a href="mailto:rrichrs@gmail.com" class="text-sm text-gray-500 hover:underline">Contact</a>
          <a href="https://www.linkedin.com/in/rrichrs/" target="_blank" class="text-sm text-gray-500 hover:underline">LinkedIn</a>
          <a href="https://github.com/rr1000" target="_blank" class="text-sm text-gray-500 hover:underline">GitHub</a>
      </div>
      <p class="text-sm text-left md:text-right text-gray-400">&copy; 2023 Ryan Rich - rrich.io</p>
  </div>
</footer>