<div class="left-nav">
    <a href="/"><img class="svg-icons" src="/assets/images/icon-home.svg" alt="Logo"></a>
    <div class="socials">
        <a href="https://www.linkedin.com/in/rrichrs/" target="_blank"><img class="svg-icons" src="/assets/images/icon-linkedin.svg" alt="LinkedIn Icon"></a>
        <a href="https://news.ycombinator.com/user?id=ryanSrich" target="_blank"><img class="svg-icons" src="/assets/images/icon-hn.svg" alt="Hackernews Icon"></a>
        <a href="https://github.com/rr1000/" target="_blank"><img class="svg-icons" src="/assets/images/icon-github.svg" alt="Github Icon"></a>
        <a href="https://www.instagram.com/rrichrs/" target="_blank"><img class="svg-icons" src="/assets/images/icon-insta.svg" alt="Instagram Icon"></a>
        <a href="https://twitter.com/rrichrs" target="_blank"><img class="svg-icons" src="/assets/images/icon-twitter.svg" alt="Twitter Icon"></a>
        <a href="mailto:rrichrs@gmail.com"><img class="svg-icons" src="/assets/images/icon-email.svg" alt="Email Icon"></a>
        <a href="/info"><img class="svg-icons" src="/assets/images/icon-info.svg" alt="Info Icon"></a>
    </div>
    <div class="switch" id="dmSwitch">
        <img class="svg-icons" src="/assets/images/icon-sun.svg" alt="Mode Icon">
    </div>
</div>