{% for post in site.posts %}
  <a href="{{ post.url }}" class="py-2 block text-slate-900 hover:text-blue-500">
    <div class="flex justify-between items-center mb-2 text-slate-500">
        <div class="text-xs text-slate-600">
          <span class="text-slate-400">Posted:</span> <span class="post-date" data-date="{{ post.date | date: '%s' }}">Loading days ago...</span>
        </div>
    </div>
    <h2 class="mb-2 text-base font-bold tracking-tight">{{ post.cleantitle }}</h2>
  </a>
{% endfor %}
