$c_white: #FFFFFF;
$c_black: #0f0e11;
$c_gray-1: #9B9B9B;
$c_gray-2: #727272;
$c_blue: #0039FF;
$c_yellow: #fff68d;
$c_blue-gray: #edf6f9;
$c_green-text: #AEE0A1;
$c_green-black: #11170F;
$c_green-link: #5BC140;