$c_white: #FFFFFF;
$c_black: #0f0e11;
$c_gray-1: #9B9B9B;
$c_gray-2: #727272;
$c_gray-3: lighten(#727272, 45%);
$c_gray-4: lighten($c_gray-1, 37%);
$c_gray-5: lighten(#727272, 35%);
$c_blue: #0085FF;
$c_yellow: #fff68d;
$c_blue-gray: #edf6f9;
$c_green-text: #AEE0A1;
$c_green-black: #11170F;
$c_green-link: #5BC140;
$c_purple: #916AFF;
$c_body-text: darken($c_gray-2, 2%);
$c_dark-bg: #181818;
$c_body-text-dark: #d5d5d5;
$c_blue-light: lighten($c_blue, 20%);
$c_green-ish: #726E52;