@import "grid";
@import "reset";
@import "fonts";
@import "colors";

body{
  font-family: $f_sans-light;
  font-style: normal;
  color: $c_white;
  background-color: $c_black;
  font-size: 16px;
  a{
    color: $c_gray-1;
    border-bottom: 1px solid $c_gray-2;
    text-decoration: none;
    &:hover{color: $c_white;}
  }
  strong{font-family: $f_sans-bold;}
}
.rr--logo{
  position: relative;
  img{display: block; position: absolute;}
  p{
    display: inline-block;
    color: #fff;
    margin: 5px 0 0 50px;
  }
}
.rr--nav{
  a{
    display: inline-block;
    margin: 5px 0 0 20px;
  }
}
.rr--masthead{
  h2{
    font-family: $f_sans-bold;
    color: $c_gray-2;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #1A1A1A;
    margin: 0 0 20px 0;
  }
  p{
    line-height: 1.4;
    margin: 0 0 20px 0;
  }
}
.rr--work-block{
  margin: 0 0 50px 0;
  p{
    margin: 0 0 10px 0;
  }
}
header{
  background-color: rgba(255,255,255,0.04);
}
footer{
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 14px;
  opacity: 0.5;
}
@media all and (max-width: 767px){
  .rr--nav{
    padding: 0;
    margin: 60px 0 0 0;
    a{
      display: block;
      margin: 0 0 10px 0;
      border: 0;
      &:last-of-type{
        margin: 0;
        padding: 0;
      }
    }
  }
  .rr--logo{
    p{
      display: none;
    }
  }
}