@import "grid";
@import "reset";
@import "fonts";
@import "colors";

body{
  font-family: $f_sans-light;
  font-style: normal;
  color: $c_white;
  background-color: $c_black;
  font-size: 16px;
  a{
    color: $c_gray-1;
    border-bottom: 1px solid $c_gray-2;
    text-decoration: none;
    &:hover{color: $c_white;}
  }
  strong{font-family: $f_sans-bold;}
}
.rr--logo{
  position: relative;
  img{display: block; position: absolute;}
  p{
    display: inline-block;
    color: #fff;
    margin: 5px 0 0 50px;
  }
}
.rr--nav{
  a{
    display: inline-block;
    margin: 5px 0 0 20px;
  }
}
.rr--masthead{
  h2{
    font-family: $f_sans-bold;
    color: $c_gray-2;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #1A1A1A;
    margin: 0 0 20px 0;
  }
  p{
    line-height: 1.4;
    margin: 0 0 20px 0;
  }
}
.rr--work-block{
  margin: 0 0 50px 0;
  p{
    margin: 0 0 10px 0;
  }
}
header{
  background-color: rgba(255,255,255,0.04);
}
footer{
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 14px;
  opacity: 0.5;
}
@media all and (max-width: 767px){
  .rr--nav{
    padding: 0;
    margin: 60px 0 0 0;
    a{
      display: block;
      margin: 0 0 10px 0;
      border: 0;
      &:last-of-type{
        margin: 0;
        padding: 0;
      }
    }
  }
  .rr--logo{
    p{
      display: none;
    }
  }
}
.rr--markdown{
  h1,h2,h3,h4,h5,h6{
    font-family: $f_sans-bold;
    color: $c_white;
    border: 0;
    margin: 0 0 20px 0;
    padding: 0;
  }
  img{max-width: 100%;width: 100%;height: auto;margin: 0 0 20px 0;}
  .rr--md-img-white{background-color: $c_white;padding: 20px;margin: 0 0 20px 0;}
  h1{font-size: 30px;}
  h2{font-size: 20px;}
  h3{font-size: 18px;}
  h4{font-size: 16px;}
  h5{font-size: 14px;text-transform: uppercase;}

  p{
    margin: 0 0 20px 0;
    line-height: 1.4;
    color: rgba(255,255,255,0.7);
  }
  ul{
    margin: 0 0 20px 20px;
    list-style-type: disc;
    li{
      line-height: 1.4;
      margin: 0 0 10px 0;
      color: rgba(255,255,255,0.7);
      ul,ol{margin: 10px 0 0 20px;}
    }
  }
  ol{
    margin: 0 0 20px 20px;
    list-style-type: decimal;
    li{
      line-height: 1.4;
      margin: 0 0 10px 0;
      color: rgba(255,255,255,0.7);
    }
  }
}
.rr--bc{
  font-size: 12px;
  margin: 0 0 30px 0;
  opacity: 0.5;
  color: $c_yellow;
  a{
    display: inline-block;
  }
}
h2.rr--post-title{
  font-family: $f_sans-light;
  color: $c_yellow;
  font-size: 23px;
}
.rr--blog-post-header{
  padding: 20px;
  border-radius: 5px;
  border-left: 2px solid rgba(255,255,255,0.05);
  margin: 0 0 20px 0;
  p{
    padding: 0;
    margin: 0 0 5px 0;
    span{
      opacity: 0.3;
    }
  }
  a{
    word-wrap: break-word;
    word-break: break-all;
  }
}

/* RMI */
body.converter{
  background-color: #FFF;
  color: #000;
}
.rmi-header{
  max-width: 1060px;
  margin: 50px auto 20px auto;
  color: red;
  font-size: 20px;
}
.rmi-spreadsheet{
  font-size: 14px;
  max-width: 1000px;
  background-color: rgba(0,0,0,0.05);
  padding: 30px;
  margin: 30px auto 50px auto;
  border-radius: 5px;
  input[type="file"]{
    padding: 20px;
    border: 2px dotted rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
  }
}
.rmi-select-format{
  margin: 0 0 20px 0;
}
#drop{
  padding: 50px;
  width: 100%;
  border: 2px dotted rgba(0,0,0,0.2);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  p{
    text-align: center;
  }
}
.rmi-text{
  margin: 0 0 20px 0;
}
.rmi-hide{
  display: none !important;
  opacity: 0 !important;
}
#htmlout{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  table{
    border-spacing:0;
    width:100%;
  }
  tr, th, td{
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    text-align:left
  }
  tr{margin: 0 0 20px 0;}
  tr{
    td:first-of-type{
      padding-top: 5px;
      border-top: 1px dotted red;
      font-family: $f_sans-bold;
    }
  }
}