@import "grid";
@import "reset";
@import "fonts";
@import "colors";

.content{
  h2.blog-title{
    font-size: 28px;
    font-family: $f_sans-light;
  }
}

.markdown-body{
  font-size: 16px;
  p{
    color: $c_body-text;
  }
  h1,h2,h3,h4,{
    font-family: $f_sans-bold;
    margin: 0 0 20px 0;
  }
  h1{font-size: 28px;}
  h2{font-size: 24px;}
  h3{font-size: 20px;}
  h4{font-size: 16px;}
  a{
    color: $c_blue;
  }
  ul, ol{
    margin-bottom: 20px;
  }
  ol,li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
    color: $c_body-text;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  img{
    max-width: 100%;
    width: 100%;
    margin: auto;
    height: auto;
    border-radius: 3px;
  }
}

body.dark-mode{
  .markdown-body{
    ol,li{
      color: $c_body-text-dark;
    }
  }
}
