<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/assets/css/styles.css">
      <!-- // -->
      <link rel="icon" type="image/png" href="/assets/images/favicon.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/assets/images/favicon.ico" sizes="32x32">
      <!-- // -->
      <link rel="apple-touch-icon" sizes=”114×114″ href="/assets/images/apple-icon-114.png">
      <link rel="apple-touch-icon" sizes=”72x72″ href="/assets/images/apple-icon-72.png">
      <!-- // -->
      {% feed_meta %}
      {% seo %}
  </head>
  <body class="{{page.body}}">
    <div class="grid">
      <header>
        <div class="row">
            <div class="col-xs-2 start-xs">
                <a href="/"><img src="/assets/images/logo-light.png" alt="Logo" class="logo"></a>
            </div>
            <div class="col-xs-10 end-xs">
                {% include nav.html %}
            </div>
        </div>
      </header>
      <div class="row">
          <div class="col-xs-12">
              <h2 class="blog-title">{{page.cleantitle}}</h2>
              <p class="published"><span>Published:</span> {{page.year}}</p>
              <div class="markdown">
                {{content}}
              </div>
          </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>