<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>
  
  <!-- Favicon links -->
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">

  <!-- Android and other platforms -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/android-chrome-192x192.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ '/assets/images/android-chrome-512x512.png' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <main>
    <div class="container mx-auto">
      <div class="pb-11 px-4">
        {% include global_nav.html %}
      </div>
    </div>
    <div class="container mx-auto">
      <div class="pb-11 px-4">
        <h2 class="text-xl md:text-2xl mb-4 tracking-tight font-bold text-slate-900">{{ page.cleantitle }}</h2>
        <p class="inline-block font-normal px-2 py-1 text-xs text-slate-500 bg-slate-100 rounded-full">
          <span class="text-xs text-slate-400">Posted:</span>
          <span>{{ page.date | date: "%B %d, %Y" }}</span>
        </p>      
        <div class="markdown">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      {% include global_footer.html %}
    </div>
  </main>
</body>
</html>
